body {
	background-color: #6CA4E6;
}
nav {
	background-color: #EEEEEE;
	color: #F9EAD9;
}
.nav-wrapper a {
	color: black;
}
.brand-logo {
	margin-left: 275px;
	font-family: 'Prompt', sans-serif;
	font-weight: bolder;

}
#nav-mobile li {
	margin-right: 275px;
	font-family: 'Assistant', sans-serif;

}
#Host {
	font-size: 20px;
}
.card {
	margin: auto;
}
.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	background-size: cover;
  }

  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .container:hover .image {
	opacity: 0.7;
  }

  .container:hover .middle {
	opacity: 1;

  }

  button {
	background-color: #6CA4E6;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }

  .modal {
	  width: 80%;
	  height: 100%;
		align-content: center;
		font-size: 1em;
	}

  .user-view {
	  height: 100%;
  }
.modal-trigger {
	background-color: #6ca4e6;
}
.btn:hover {
	background-color: #b6b3af;
	color: black;
}
.dropdown-trigger {
	background-color: #6ca4e6;
}

#modal1{
	align-content: center;
}


hr{
	border-style: dotted none none none;
	border-top-width: 10px;
	width: 8%;

	color: #6ca4e6;
}


.imageOne{
	border-style: solid;
	 border-radius: 50%;
	 border-color: white;
	 height: 22em;
	 width: 32em;
}
.imageOne:hover{
	opacity: 0.7;
}












/*#map {
  width: 25%;
  height: 200px;
  background-color: grey;

}

#mapOne {
  width: 25%;
  height: 200px;
  background-color: grey;
}

#mapTwo {
  width: 25%;
  height: 200px;
  background-color: grey;
}

#mapThree {
  width: 25%;
  height: 200px;
  background-color: grey;
}
